body {
    background-color: powderblue;
}

.header-area {
    height: 20vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-container {
    margin-bottom: 10%;
}

.wrapper {
    background-color: rgb(255, 228, 232);
    display:flex;
    flex-direction: column;
    /* width: 100%; */

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 80vh;
    margin: 0 auto 0 auto;
    max-width: 80vw;
    /* justify-content: center; */
    align-items: center;

}

.box {
    background-color: white;
    margin-top:20%;
    width: 250px;
    height: 250px;
    /* border: 1px solid black; */
    box-shadow: 10px 10px rgba(0, 0, 0, 0.411);
    border-radius: 50%;
    /* background-color: transparent; */
    text-align: center;
}

.rgb {
    display:none;
    margin: auto auto;
    font-family: Arial, 'san-serif';
}

.bottom-toast {
    margin-top: 4%;
    /* position: fixed; */
    /* right: 15px; */
    z-index: 1111;
    /* bottom: 80px; */
 }